p{
    margin: 0px 10px;
}
ion-list{
    border-bottom: 1px solid;
}
.divNull{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50%;
    ion-icon{
        zoom: 10;
    }
    p{
        font-size: 20px;
    }
}