<ion-row>
  <ion-col>
    <img src="../../assets/logo-home.png" alt="">
  </ion-col>
</ion-row>
<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="home" (click)="set('home')">
      <ion-icon name="home-outline" *ngIf="status!='home'"></ion-icon>
      <ion-icon name="home" *ngIf="status=='home'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" (click)="set('history')">
      <ion-icon name="time-outline" *ngIf="status!='history'"></ion-icon>
      <ion-icon name="time" *ngIf="status=='history'"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox" (click)="set('inbox')">
      <ion-icon name="mail-outline" *ngIf="status!='inbox'"></ion-icon>
      <ion-icon name="mail" *ngIf="status=='inbox'"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account"(click)="set('profile')">
      <ion-icon name="person-outline" *ngIf="status!='profile'"></ion-icon>
      <ion-icon name="person" *ngIf="status=='profile'"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
